[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group motorola_msm8084
	label-Code-Review = -2..+2 group motorola_msm8084
	label-Verified = -1..+1 group motorola_msm8084
	rebase = group motorola_msm8084
	submit = group motorola_msm8084
	owner = group Administrators
	forgeCommitter = group motorola_msm8084
	push = +force group motorola_msm8084
	forgeAuthor = group motorola_msm8084
